* {
  padding: 0;
  margin: 0;
}
:root {
  --color: #f3f3f3;
  --color-green: #37af65;
  --BG: rgba(27, 27, 50, 0.8);
}
body {
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-attachment: fixed;
  font-size: 17px;
}
#container {
  margin: 20px auto;
  max-width: 750px;
  padding-top: 40px;
}
.head {
  text-align: center;
  color: var(--color);
}
.head #title {
  font-size: 36px;
}
.head #description {
  font-size: 23px;
}
#survey-form {
  background-color: var(--BG);
  margin: 20px auto;
  padding: 34px;
  display: block;
  color: var(--color);
  text-align: left;
}
.form-group {
  /* padding: 20px 10px; */
  font-size: 20px;
  font-family: tahoma;
  overflow: hidden;
  margin: 10px auto;
  margin-bottom: 20px;
  text-align: left;
}
.form-group p {
  margin-bottom: 10px;
}
.form-group input:not([type="radio"], [type="checkbox"]),
select {
  padding: 10px;
  font-size: 20px;
  margin: 10px auto;
  border: 0;
  min-width: 100%;
}
#dropdown {
  display: block;
}
input[type="radio"],
input[type="checkbox"] {
  /* margin:10px */
  /* display: block; */
}
.block {
  display: block;
  clear: both;
}
label {
  margin-bottom: 5px;
}
textarea,
button {
  margin-top: 10px;
  width: 100%;
  min-height: 130px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgba(238, 238, 238, 0);
}
button {
  padding: 5px;
  height: auto;
  min-height: auto;
  background-color: var(--color-green);
  color: white;
  padding: 10px 0;
}
